[submodule "tf-module-a"]
	path = tf-module-a
	url = https://github.com/youhyuni/tf-module-a.git
[submodule "tf-module-b"]
	path = tf-module-b
	url = https://github.com/youhyuni/tf-module-b.git
[submodule "tf-module-c"]
	path = tf-module-c
	url = https://github.com/youhyuni/tf-module-c.git
